body{
    background-color: #222629;
    text-align: center;
}

/* The navigation bar */
nav {
    overflow: hidden;
    background-color: #61892F;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
  }

  /* Links inside the navbar */
  .navbar-left a {
    left: 10px;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
  }
  .navbar-right a {
    left: 10px;
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar-right a:hover {
    background: #86C232;
    color: #ffffff;
  }
  .navbar-left a:hover {
    background: #86C232;
    color: #ffffff;
  }

h1{
    color: #ffffff;
    size: 16px
}

p {
    color: #ffffff;
}

a {
    font-size: 25px;
    color: #ffffff;
}

  .quizlink {
    size: 16px;
  }

table {
  margin: auto;
  table-layout: fixed;
  width: 75%;
  
}
table td, table th {
  padding: 10px;
  word-wrap: break-word;
  color: #ffffff;
}

div {
	color: #ffffff;
}
	.form_group {
    color: #ffffff;
  }

  .container {
    text-align: center;
  }
  .quiz_text {
    text-decoration: none;
    background-color: #61892F;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5em;
    padding: 8px;
    transition: 0.35s;
    width: 75%
  }
  .button {
    size: 25px;
    text-decoration: none;
    background-color: #61892F;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5em;
    padding: 8px;
    transition: 0.35s;
    width: 75%
  }
  .button:hover {
    text-decoration: none;
    background-color: #86C232;
    color: #ffffff;
  }