<html lang="en">
    <head>
        <title>Quizzy Panda: {{ the_title }}</title>
        <link rel="icon" type="image/png" href="#" />
        <link rel="stylesheet" href="static/style.css" />
    </head>   
    <nav>
        <a href="/">
            <img src="{{url_for('static', filename='images/logo.png')}}" width="85px" height="85px" style="float: left;">
        </a>
        <div class="navbar-left">
            {% if current_user.is_authenticated %}
                <a href="/loggedin">Home</a>
            {% else %}
                <a href="/">Home</a>
            {% endif %}
            {% if current_user.is_admin %}
                <a href="/adminpanel">Give Admin Rights</a>
                <a href="/users">Grade Quizzes</a>
                <a href="/newquiz">Make New Quiz</a>
                <a href="/editquiz">Add/Update Questions</a>
            {% endif %}
        </div>
        <div class="navbar-right">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </div>
    </nav>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>