{% extends 'base.html' %}
{% block content %}
    <h1 class="bottom">
      Choose a quiz to add/update questions               
    </h1></br></br></br>
    <form method="post" action="{{ url_for('edit_quiz') }}">
        {{ form_quiz.csrf_token }}
        {{ form_quiz.quiz_name.label }} <br> {{ form_quiz.quiz_name }} <br>
        <input type="hidden" name="form_type" value="quiz">
        <button type="submit">Submit</button>
    </form>
    {% if q_q %}
    	<h1 class="quiz_text">Questions<br>
    	Click on the question to edit or delete it.</h1>
    	{% for q in q_q %}
			<div class="container">
				<a class="button" href="?id={{ q.question_id  }}">{{ q.question  }}</a>
		  	</div>
      		
    {% endfor %}
    {% endif %}
	{% if form %}
	</form> 
	<div class = "container">
		<h2>Add new question</h2>
		<form method="POST" action="{{ url_for('edit_quiz') }}">
			{{ form.csrf_token }}
			<div class="form-group">
				{{ form.quiz_id(value=quiz_id, class="form-control") }}
			</div>
			<div class="form-group">
				<label for="question">Question</label><br>
				{{ form.question_text(class="form-control", placeholder="Enter a question") }}
			</div>
			<div class="form-group">
				<label for="Choice A">Choice A</label>
				{{ form.answer_1(class="form-control", placeholder="Enter a answer") }}
				correct answer {{ form.correct_answer_1(class="form-control") }}
			</div>
			<div class="form-group">
				<label for="Choice B">Choice B</label>
				{{ form.answer_2(class="form-control", placeholder="Enter a answer") }}
				correct answer {{ form.correct_answer_2(class="form-control") }}
			</div>
			<div class="form-group">
				<label for="Choice C">Choice C</label>
				{{ form.answer_3(class="form-control", placeholder="Enter a answer") }}
				correct answer {{ form.correct_answer_3(class="form-control") }}
			</div>
			<div class="form-group">
				<label for="Choice D">Choice D</label>
				{{ form.answer_4(class="form-control", placeholder="Enter a answer") }}
				correct answer {{ form.correct_answer_4(class="form-control") }}
			</div>
			<button type="submit" class="quizlink">Add new question</button>
		</form>
	{% endif %}
{% endblock %}