{% extends 'base.html' %}
{% block content %}
	<div class="main_container">
		<div class="quiz_container">
			<h2>{{ name }}</h2>
            <h2>{{ quizname }}</h2>
            {% if form_question %}
                <form method="POST" action="{{ url_for('grade', id=request.args.get('id')) }}" onsubmit="this.action=this.action+'&qid='+this.elements['question'].value;">
                    {{ form_question.csrf_token }}
                    {{ form_question.question(class="form-control") }}<br>
                    <input type="hidden" name="form_type" value="question">
                    <button class="form_input_button" type="submit">Select Quiz</button>
                </form><br><br>
            {% endif %}	
            {% if form_answer.q_type.data == 0 or form_answer.q_type.data == 1 or form_answer.q_type.data == 2 %}
                <form method="POST" action="{{ url_for('grade', id=request.args.get('id'), qid=request.args.get('qid')) }}">
                    {{ form_answer.csrf_token }}
                    {{ form_answer.q_txt(class="form-control2") }}<br>
                    {{ form_answer.user_id }}
                    {{ form_answer.aid }}
                    {{ form_answer.quiz_id }}
                    {{ form_answer.question_id }}
                    {% if form_answer.q_type.data == 0 or form_answer.q_type.data == 2 %}
                        {{ form_answer.answer1.label(class="form-control_check_grade") }}
                        {{ form_answer.u_answer1.label(class="form-control_check_grade") }}
                        {{ form_answer.choice_text1(class="form-control_grade") }}
                        {{ form_answer.u_answer1(class="form-control_check") }}
                        {{ form_answer.answer1(class="form-control_check") }}<br>
                        {{ form_answer.choice_text2(class="form-control_grade") }}
                        {{ form_answer.u_answer2(class="form-control_check") }}
                        {{ form_answer.answer2(class="form-control_check") }}<br>
                        {{ form_answer.choice_text3(class="form-control_grade") }}
                        {{ form_answer.u_answer3(class="form-control_check") }}
                        {{ form_answer.answer3(class="form-control_check") }}<br>
                        {{ form_answer.choice_text4(class="form-control_grade") }}
                        {{ form_answer.u_answer4(class="form-control_check") }}
                        {{ form_answer.answer4(class="form-control_check") }}<br>
                    {% else %}
                        <br>
                        {{ form_answer.essay_answer.label(class="form-control2") }}
                        {{ form_answer.essay_answer(class="form-control2") }}<br>
                    {% endif %}
                    <br>
                    {{ form_answer.comment.label(class="form-control2") }}
                    {{ form_answer.comment(class="form-control2") }}
                    <input type="hidden" name="form_type" value="answer">
                    <button class="form_input_button" type="submit">Update Comment</button>
                </form>
            {% endif %}
            <script>
                // disable all read-only checkboxes
                var readonlyCheckboxes = document.querySelectorAll('.form-control_check');
                for (var i = 0; i < readonlyCheckboxes.length; i++) {
                    readonlyCheckboxes[i].disabled = true;
                }
            </script>
		</div>
	</div>
{% endblock %}