{% extends 'base.html' %}
{% block content %}
    <h1>
    {% if current_user.is_admin %}
        Hi<br><br> {{current_user.firstname}} {{current_user.lastname}}
    {% else %}
        Hi<br> {{ current_user.username }}   
    {% endif %}        
    </h1></br></br></br>
    <h1>Available quizzes</h1>
    <div class="main_container">
    {% for quizidx in quizidx %}
        {% if current_user.is_admin or quizidx.is_public %}
            <div class="quiz_container">
                <form class="form_choice" method="get" action="/quiz">
                    <input type="hidden" name="id" value="{{ quizidx.quiz_id }}">
                    <button class="form_input_button" type="submit">{{ quizidx.name }}</button>
                </form>
                {% if current_user.is_admin %}
                    {% if quizidx.is_approved == 1 %}
                        <form method="POST" action="/loggedin">
                            <input type="hidden" name="approved" value="{{ quizidx.quiz_id, 0 }}">
                            <button class="form_input_button" type="submit" onclick="confirmButtonPressed(event, 'are you sure you want to REVOKE the approved quiz?')">Revoke All Questions</button>
                        </form>
                    {% else %}
                        <form method="POST" action="/loggedin">
                            <input type="hidden" name="approved" value="{{ quizidx.quiz_id, 1 }}">
                            <button class="form_input_button" type="submit" onclick="confirmButtonPressed(event, 'Are you sure you want to approve all questions in the quiz?')">Approve All Questions</button>
                        </form>
                    {% endif %}
                    <div class="form_choice">
                    {% if quizidx.is_public == 0 %}
                        <form method="POST" action="/loggedin">
                            <input type="hidden" name="is_public" value="{{ quizidx.quiz_id, 1 }}">
                            <button class="form_input_button" type="submit">Make quiz public</button>
                        </form>
                    {% else %}
                        <form method="POST" action="/loggedin">
                            <input type="hidden" name="is_public" value="{{ quizidx.quiz_id, 0 }}">
                            <button class="form_input_button" type="submit">Hide quiz</button>
                        </form>
                    {% endif %}
                        <form method="POST" action="/loggedin">
                        <input type="hidden" name="delete" value="{{ quizidx.quiz_id }}">
                        <button class="form_input_button" type="submit" onclick="confirmButtonPressed(event, 'Are you sure you want to delete this quiz?\nThis will delete all the questions and answers related to it.')">Delete Quiz</button>

                    </form>
                    {% if quizidx.is_open == 1 %}
                        <form method="POST" action="/loggedin">
                            <input type="hidden" name="is_open" value="{{ quizidx.quiz_id, 0 }}">
                            <button class="form_input_button" type="submit" onclick="confirmButtonPressed(event, 'Are you sure you want to close this quiz?\nBy doing so, there will not be any new users taking it. And users doing the quiz will not be able to complete it')">Close Quiz</button>
                        </form>
                    {% else %}
                        <form method="POST" action="/loggedin">
                            <input type="hidden" name="is_open" value="{{ quizidx.quiz_id, 1 }}">
                            <button class="form_input_button" type="submit">Open Quiz</button>
                        </form>
                    {% endif %}
                    </div>
                    <script>
                        function confirmButtonPressed(event, message) {
                            if (!confirm(message)) {
                                event.preventDefault();  // Prevent form submission
                            }
                            else {
                                location.reload();
                            }
                        }
                    </script>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
