{% extends 'base.html' %}
{% block body %}
<h1>{{ the_title }}</h1>
            <h2 class="word">
              <h1>Login</h1>
                <form action="/login" method="post">
                  {{ login_form.username.label }}: {{ login_form.username() }}<br><br>
                  {{ login_form.password.label }}: {{ login_form.password() }}<br><br>
                  <input type="submit" value="Login">
                </form>
            </h2>           
          </div>
        </div>
{% endblock %}