{% extends 'base.html' %}
{% block content %}

    <div class="header">
    <h1>Make a new quiz</h1>
    </div></br></br></br>            
    <form method="POST" action="{{ url_for('new_quiz') }}">
        {{ form.csrf_token }}
        <div class="form-group"><br>
            {{ form.name(class="form-control", placeholder="Enter a quiz name") }}<br><br>
            {{ form.description(class="form-control", placeholder="Enter a description") }}<br><br>
            {{ form.category(class="form-control", placeholder="Enter a category") }}<br><br>
        </div>
        <button type="submit" class="form_input_button">Register</button><br>
    </form>
{% endblock %}