{% extends 'base.html' %}
{% block content %}
{% if form %}
<div class="main_container">
    <div class="quiz_container">
        <form method="POST" action="{{ url_for('questions') }}">
            {{ form_question.csrf_token}}
            {{ form.quiz_id }}
            {{ form.user_id }}
            {{ form.question_id }}
            <div class="form-group">
                {{ form_question.question.label(class="form-control2") }}
                {{ form_question.question(class="form-control2") }}<br><br>
            </div>
            {% if form_question.q_type == 0 %}
            <div class="form-group">
                {{ form_question.answer1(class="form-control_test") }} 
                {{ form.c_answer1(class="form-control_check") }}<br>
                {{ form_question.answer2(class="form-control_test") }} 
                {{ form.c_answer2(class="form-control_check") }}<br>
                {{ form_question.answer3(class="form-control_test") }} 
                {{ form.c_answer3(class="form-control_check") }}<br>
                {{ form_question.answer4(class="form-control_test") }} 
                {{ form.c_answer4(class="form-control_check") }}
            </div>
            {% else %}
                <div class="form-group">
                    {{ form.essay_answer.label(class="form-control2") }}
                    {{ form.essay_answer(class="form-control2") }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.next(class="form_input_button") }}
            </div>
        </form>
    </div>
</div>
{% else %}
    <h1>Congrats you are done!</h1>
    Do you want to save the quiz or just exit?<br>
        <div class="main_container">
            <div class="quiz_container">
                <a class="form_input_button" href="/save?id={{ id }}&qid={{ qid }}">Save quiz to disk</a>
                <a class="form_input_button" href="/loggedin">Exit Quiz</a>
            </div>
        </div>
{% endif %}
{% endblock %}