{% extends 'base.html' %}
{% block content %}
<div class="main_container">
    <div class="quiz_container">
        <div class="form">
            {% for quizidx in quizidx %}
                <h1>{{ quizidx.name }}</h1>
                <h3>Description</h3>
                {{ quizidx.description }}<br>
                <h3>Category</h3>
                {{ quizidx.category }}<br><br><br>
                {% if current_user.is_admin %}
                    <button class="form_input_button" onclick="location.href='{{ url_for('approve', id=quizidx.quiz_id) }}'">Start Approving Quiz</button>
                {% else %}
                    <button class="form_input_button" onclick="location.href='{{ url_for('questions', id=quizidx.quiz_id) }}'">Start Quiz</button>
                {% endif %}
            {% endfor %}
        </div>
	</div>
</div> 
{% endblock %}