{% extends 'base.html' %}
{% block content %}
	<div class="main_container">
		<div class="quiz_container">
			<h2>Grade quizzes</h2>
			<form method="POST" action="{{ url_for('users') }}">
				{{ form_quiz.csrf_token }}
				{{ form_quiz.quiz_name(class="form-control") }}<br>
				<input type="hidden" name="form_type" value="quiz">
				<button class="form_input_button" type="submit">Select Quiz</button>
			</form><br>
			{% if form_users %}
				<form method="POST" onsubmit="this.action='grade?id=' + this.elements['user'].value;">
					{{ form_users.csrf_token }}
					{{ form_users.user(class="form-control") }}<br>
					<input type="hidden" name="form_type" value="id">
					<button class="form_input_button" type="submit">Select Question to Update/Delete</button>
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}